<h1 mat-dialog-title>Accès protégé</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input autofocus cdkFocusInitial matInput [(ngModel)]="data.password" [type]="isHiddenPassword ? 'password' : 'text'" />
        <button
            mat-icon-button
            matSuffix
            (click)="isHiddenPassword = !isHiddenPassword"
            matTooltip="{{ isHiddenPassword ? 'Montrer le mot de passe' : 'Cacher le mot de passe' }}"
            matTooltipClass="button-tooltip"
        >
            <mat-icon>{{ isHiddenPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end" id="buttons-container">
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-raised-button [mat-dialog-close]="data.password" color="primary">OK</button>
</div>
